* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
}

p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 130%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: dimgray;
    flex-flow: row;
}

.nav-item {
    color: wheat;
    padding: 0.5em;
    font-size: 2em;
}

main {
    /* margin: 6em 20%; */
    margin-inline: 20rem;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td,
th {
    border: 1px solid black;
}

td{
    line-break: anywhere;
}


.teszt-container {
    margin-inline: auto;
}

dfn {
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: inherit;
}

footer {
    background-color: rgb(54, 54, 54);
    color: wheat;
    margin: 0;
    padding: 10px;
}

.prompt {
    border-left: 2px solid rgb(60, 120, 230);
    padding: .7rem;
    margin-left: .5rem;
}

dt {
    background-color: rgb(255, 255, 159);
    padding: .3rem;
}


@media only screen and (max-width: 800px) {
    main {
        margin: 8em 4px;
    }
}

section {
    margin-block: 2rem;
}

details {
    background-color: lightblue;
    border: 1px solid rgb(9, 57, 73)
}